@using OdevDagitimPortali.ViewModels
@model SubmissionModel
@{
    Layout = "_LayoutStudent";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Add" enctype="multipart/form-data">

            <!-- Ödev Seçimi -->
            <div class="mb-3">
                <label asp-for="assignment_ID"></label>
                <select asp-for="assignment_ID" asp-items="ViewBag.Assignments" class="form-control">
                    <option value="">--- Ödev Seçiniz ---</option>
                </select>
                <span class="text-danger" asp-validation-for="assignment_ID"></span>
            </div>

            <!-- Öğrenci Numarası -->
            <div class="mb-3">
                <label asp-for="user_ID"></label>
                <input asp-for="user_ID" class="form-control" placeholder="Öğrenci Numarasını Giriniz" />
                <span class="text-danger" asp-validation-for="user_ID"></span>
            </div>

            <!-- Submission Tarihi -->
            <input type="hidden" asp-for="submission_date" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" />

            <!-- Dosya Yükleme -->
            <div class="mb-3">
                <label asp-for="UploadedFile" class="form-label">Dosya Yükle</label>
                <input asp-for="UploadedFile" type="file" class="form-control" />
                <span class="text-danger" asp-validation-for="UploadedFile"></span>
            </div>

            <!-- Kaydet Butonu -->
            <div class="mb-3">
                <input type="submit" value="Kaydet" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
